
body {
  font-family: Arial, Helvetica, sans-serif;

}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}




/* Add padding to containers */
.container {
  padding: 16px;
  margin-left: 20%;
  background-color: white;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  margin: 3px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;

}

.registerbtn {
    /* Other styles... */
    margin-right: 10px;
}

.tables{
  margin-top: 60px;
 
}
.sidenav {
          height: 100%;
          width: 200px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 20px;
      }

      .sidenav a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 20px;
          color: #818181;
          display: block;
      }

      .sidenav a:hover {
          color: #f1f1f1;
      }

      .main {
          margin-left: 200px; /* Same width as the sidebar */
          padding: 0px 10px;
      }

/* Other code */

.open-button {
  background-color: green;
  font-size: 15px;
  color: white;
  padding: 16px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  margin-top: 30%;
  width: 130px;
	opacity: 0.9;
 margin-left:11.8%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 30px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus, .form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 280px;
	height: 50px;
	font-size: 16px;
  margin-bottom:10px;
  opacity: 1;
	font-weight: bold;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(234, 42, 42);
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.box {
height: 130px;
width: 230px;
border-radius: 20px;
box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}



